.venv
.sqlite3
__pycache__
venv/*
# سیستم‌عامل
*.DS_Store
*.log
*.pot
*.pyc
__pycache__/

# محیط مجازی
venv/
ENV/
env/
.virtualenv/

# تنظیمات و اطلاعات حساس
.env

# جنگو
db.sqlite3
/media
/staticfiles

# پوشه‌های ساخت
build/
dist/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace